@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~office-ui-fabric-react/dist/sass/_References.scss';

.sarchResults {
    overflow: auto;
}

.sarchResult {
    margin-bottom: 10px;
    float: left;
}