@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '~office-ui-fabric-react/dist/sass/_References.scss';

/** 検索絞込み */
.searchFilter {

    /** フィルタグループヘッダー */
    .filterGroupHeader {
        padding : 8px;
        display : block;
        width : calc(100% - 16px);
        background-color : $ms-color-themePrimary;
        font-size : $ms-font-size-16;
        color : $ms-color-white;
        cursor: pointer;
        margin-top: 10px;
    }

    /** フィルタグループヘッダーボタン */
    .filterGroupHeaderButton {
        float: right;
        text-align: right;
    }

}